<ion-content class="ion-padding">
<div class="container">
 <ion-grid>
       <ion-row>
             <ion-col>
                        <img class="logo" src="assets/img/logo.PNG" alt="logo">
             </ion-col>
       </ion-row>
       <ion-row>
             <ion-col>
                        <ion-item>
                                    <ion-icon   name="person"
                                                slot="start"
                                                color="primary">
                                    </ion-icon>
                                        
                                    <ion-input  type="email"
                                                placeholder="Usuario"
                                                [required]=true
                                                [(ngModel)]="user.email">
                                    </ion-input>
                              </ion-item>
             </ion-col>
       </ion-row>
       <ion-row>
             <ion-col>
                        <ion-item>
                                    <ion-icon   name="lock"
                                                slot="start"
                                                color="primary">
                                    </ion-icon>
                                  
                                    <ion-input  type="password"
                                                placeholder="Pasword"
                                                [required]=true
                                                [(ngModel)]="user.password"
                                                (keyup.enter)="onLogIn()">
                                    </ion-input>
                              </ion-item>
             </ion-col>
       </ion-row>
       <ion-row>
             <ion-col >
                        <ion-button size="large" 
                                    expand="full"
                                    [disabled]="!user.email || !user.password"
                                    (click)="onLogIn()">
                                    LOGIN
                        </ion-button>
             </ion-col>
       </ion-row>
 </ion-grid>
 </div>                    
</ion-content>