.container {
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .logo {
      width: 150px;
      height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


